profile=default
quiet=false
ocaml-version=4.04.0
max-iters=10
margin-check=false
disable=false
debug=false
comment-check=true
wrap-fun-args=true
wrap-comments=false
type-decl-indent=2
type-decl=compact
stritem-extension-indent=0
space-around-variants=true
space-around-records=true
space-around-lists=true
space-around-arrays=true
single-case=compact
sequence-style=terminator
sequence-blank-line=preserve-one